body {
    font-size: 16px;
    color: #333333;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    text-align:justify;
    line-height: 1.5;
    background-image: url("blue_gradient.jpg"); /* Insere uma imagem de fundo*/
    background-size: cover;
}

ul {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    font-size: 16px;
    display: flex; 
    justify-content: space-around;/* Distribui os links uniformemente*/
    list-style-type: none; /* Remove os marcadores da lista*/
    background-color: #235794; 
    padding: 10px 0;
    margin: 0;
    border: 1px solid #11336D; 
}

ul li a {
    text-decoration: none; /* Deixa os links sem sublinhado */
    color: #FFFF99;
    padding: 5px 10px; 
    border-radius: 15px; 
}

ul li a:hover {
    background-color: rgb(100, 98, 214); /* Destaca os links ao passar o mouse */
}


a {
    color:black;
    text-decoration: none;
}

img { /* Formata as imagens*/
    float:left;
    margin-right: 20px;
}

form { /* Formata o formulário de contato*/
    color: #FFFF99;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #000080;
}

input, textarea { /* Formata a área de digitação do formulário de contato*/
    width: 100%;
}

button { /* Formata o botão do formulário de contato*/
    margin-top: 10px;
    background-color: #FFFF99;
    border: 0;
    border-radius: 10px;
    color: #000080;
    padding: 15px;
    font-weight: bold;
}

.obrigatorio{
    color: red;/* Coloca o * em vermelho, indicando que o campo é obrigatóriio.*/
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 12px; 
    }

    ul {
        font-size: 10px;
        align-items: center; /* organiza o texto do menu */
    }

    img {
        width: 100%; 
        height: auto; /* Permite que a altura da imagem seja ajustada automaticamente */
    }

}



